body {
    background-image: url('/assets/images/background-image-stars.jpg');
    color: #fff;
}

.main-text {
    padding: 15px 32px;
    text-align: center;
    font-size: 60px;
    color: #ffc909;
    text-transform: uppercase;
}

/* -------------------------------------- Puzzle */

section {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.game-container {
    display: flex;
    height: 600px;
    width: 600px;
}

table tr td {
    height: 200px;
    width: 200px;
    text-align: center;
}

#start td,
#finish td {
    height: 50px;
}

td img {
    max-width: 100%;
    max-height: 100%;
    border: #fff 1px solid;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

/* -------------------------------------- Bots */

.bb8 {
    display: flex;
}

.bb9e {
    display: flex;
}

.bb8-img {
    height: 400px;
    width: 300px;
    margin-top: 180px;
}

.bb9e-img {
    height: 400px;
    width: 300px;
    margin-top: 180px;
}

/* -------------------------------------- Timer */

.timer {
    width: 30px;
    height: 210px;
    background-color: grey;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 250px;
}

.timer-fill {
    width: 100%;
    height: 50%;
    background-color: darkgray;
    transition: all 0.2s;
}

/* -------------------------------------- Footer */

footer {
    background-color: black;
    position:fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 20px;
    cursor: pointer;
    border: 3px solid yellow;
    color: yellow;
    border-radius: 30px;
}

a {
    margin: 10px;
}

/* -------------------------------------- Hide Puzzle on Mobile */

@media (max-width: 990px) {
    .hidden-mobile {
      display: none;
    }
  }

/* -------------------------------------- Hide Puzzle on Desktop */

@media (min-width: 991px) {
    .hidden-desktop {
      display: none;
    }
  }